pipeline/varpipeline.json
{
	"name": "varpipeline",
	"properties": {
		"activities": [
			{
				"name": "Get Metadatacsv",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "metadata",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "storefiles",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Metadatacsv",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "varfile",
					"value": {
						"value": "@activity('Get Metadatacsv').output.childitems",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"varfile": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-02-02T06:45:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}